DATABASE_URL=postgresql+asyncpg://user:pass@host/db
SECRET_KEY=sua_chave_secreta_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SUPERADMIN_EMAIL=seu@email.com
SUPERADMIN_PASSWORD=senha_forte
FRONTEND_URL=https://catalogo.app
